body {
  margin: 0;
  background: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 30rem;
}

.logo img {
  width: 10rem;
}

.header {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
}

.pic {
  width: 250%;
}

.pic img {
  width: 75%;
}

.about {
  margin-right: 2rem;
}